<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>饼状图</title>
    <script src="/echarts/jquery-1.9.1.min.js"></script>
    <script src="/echarts/echarts.min.js"></script>
</head>
<body style="height: 800px; width: 1200px">
<div id="container" style="height: 100%"></div>

</body>
<script>
    $(function(){
        picAjax();
    })
    function picAjax(){
        $.ajax({
            type:'post',
            url:'/ToPie',
            cache:false,
            success:function(data){
                myChart.setOption({
                    series:{data:data},
                })
            }
        })
    }
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        backgroundColor: '#2c343c',

        title: {
            text: '商品库存',
            left: 'center',
            top: 20,
            textStyle: {
                color: 'pink'
            }
        },

        tooltip : {//鼠标悬停提示
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"

        },


        visualMap: {
            show: false,
            min: 10,
            max: 10000,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'库存百分比',
                type:'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    //                 {value:335, name:'直接访问'},
                    //                 {value:310, name:'邮件营销'},
                    //                 {value:274, name:'联盟广告'},
                    //                 {value:235, name:'视频广告'},
                    //                 {value:400, name:'搜索引擎'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</html>