<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图</title>
    <script src="/echarts/jquery-1.9.1.min.js"></script>
    <script src="/echarts/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1800px;height:1000px;"></div>
</body>
<script>
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById("main"));
    //发起get请求
    $.get('/histogram', function (data) {
        myChart.setOption({
            xAxis: {data: data.sku_mch},
            series: {data: data.kc}
        })
    });
    // 指定图表的配置项和数据
    myChart.setOption({
        title: {
            text: '商品库存量'
        },
        tooltip: {},
        legend: {
            data: ['数量']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '商品',
            type: 'bar',
            data: []
        }]
    });
</script>
</html>