<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/easyui/jquery.min.js"></script>
    <script src="/js/easyui/jquery.easyui.min.js"></script>

    <link rel="stylesheet" href="/js/easyui/themes/color.css">
    <link rel="stylesheet" href="/js/easyui/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui/themes/default/easyui.css">
    <title>首页</title>



</head>-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jscn/js/jquery-2.1.1.min.js"></script>
    <!-- 引入EasyUI的样式文件-->
    <link rel="stylesheet" href="/jscn/easyui/themes/default/easyui.css" type="text/css"/>
    <!-- 引入EasyUI的图标样式文件-->
    <link rel="stylesheet"href="/jscn/easyui/themes/icon.css" type="text/css"/>
    <!-- 引入JQuery -->
    <script src="/jscn/easyui/jquery.min.js"></script>
    <!-- 引入EasyUI -->
    <script src="/jscn/easyui/jquery.easyui.min.js"></script>
    <!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
    <script src="/jscn/easyui/locale/easyui-lang-zh_CN.js"></script>
    <!-- 引入EasyUI的生成树的插件 -->
    <script src="/jscn/easyui/util-js.js"></script>
    <!-- uploadify上传文件插件 -->
    <link rel="stylesheet" href="/jscn/uploadify/uploadify.css" type="text/css">
    <script charset="utf-8" src="/jscn/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
    <div id="pgg">
        <a id="btn" href="/attr/toview?viewname=addArovider" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增属性管理</a>
    </div>
    <table id="myTable"></table>
</body>
<script type="text/javascript" th:inline="none">
    $(function(){
        initMyTable();
    })
    function initMyTable(){
        $('#myTable').datagrid({
            url:'/attr/queryListAttribute',
            fit:true,
            pagination:true,
            pageNumber:1,
            pageSize:3,
            pageList:[1,3,5,9],
            loadMsg:'数据加载中....',
            columns:[[
                {field:'id',title:'主键ID'},
                {field:'shxzh',title:'属性值',width:'15%',align:'center'},
                {field:'shfqy',title:'是否启用',width:'15%',align:'center'},
                {field:'shxm_id',title:'属性id',width:'15%',align:'center'},
                {field:'shxzh_mch',title:'属性值名',width:'15%',align:'center'},
                {field:'chjshj',title:'创建时间',width:'15%',align:'center'}
            ]]
        });
    }
</script>
</html>