<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jscn/js/jquery-2.1.1.min.js"></script>
    <!-- 引入EasyUI的样式文件-->
    <link rel="stylesheet" href="/jscn/easyui/themes/default/easyui.css" type="text/css"/>
    <!-- 引入EasyUI的图标样式文件-->
    <link rel="stylesheet"href="/jscn/easyui/themes/icon.css" type="text/css"/>
    <!-- 引入JQuery -->
    <script src="/jscn/easyui/jquery.min.js"></script>
    <!-- 引入EasyUI -->
    <script src="/jscn/easyui/jquery.easyui.min.js"></script>
    <!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
    <script src="/jscn/easyui/locale/easyui-lang-zh_CN.js"></script>
    <!-- 引入EasyUI的生成树的插件 -->
    <script src="/jscn/easyui/util-js.js"></script>
    <!-- uploadify上传文件插件 -->
    <link rel="stylesheet" href="/jscn/uploadify/uploadify.css" type="text/css">
    <script charset="utf-8" src="/jscn/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
    <div id="pgg">

        <!-- 条查 -->
        <form id="query_form">
            商品属性管理
            <input id="class1" >
            <input id="class2" name="queryid">
            <a href="javascript:void(0)" class="easyui-linkbutton" onClick="queryCondition()"
               data-options="iconCls:'icon-search'">点击搜索</a>
        </form>
        <!-- 新增 -->
        <a id="btn" href="/attr/toview?viewname=addArovider" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增属性管理</a>
    </div>


    <table id="myTable"></table>

</body>
<script type="text/javascript" th:inline="none">
    $(function(){
        initMyTable();
        queryClass1();//一级分类

        serializeFrom2Obj();
    })
    function initMyTable(){
        $('#myTable').datagrid({
            url:'/attr/queryListAttribute',
            fit:true,//适应父容器
            fitColumns:true,//自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动
            striped:true,
            loadMsg:'请稍等...',//数据加载中提示信息
            singleSelect:false,//只能选择一行
            pagination:true,//当前表格使用分页工具栏（必须有）
            pagePosition:'bottom',//分页工具显示的位置
            pageNumber:1, //number 在设置分页属性的时候初始化页码。 1
            pageSize:9, //number 每页条数
            pageList:[9,12,20,25], //选择每页条数
            toolbar:'#pgg',//数据网格（datagrid）面板的头部工具栏,作为条查使用
            columns:[[
                {field:'id',title:'id',width:'15%',align:'center'},
                {field:'shxmMch',title:'属性名',width:'15%',align:'center'},
                {field:'chjshj',title:'创建时间',width:'15%',align:'center'},
                {
                    field: 'shfqy', title: '是否启用', width: 100, align: 'center',
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "启用";//1
                        } else {
                            return "不启用";//2
                        }
                    }
                },
                {field:'shxmValue',title:'属性值',width:'35%',align:'center'},
                {field:'tool',title:'操作',width:50,
                    formatter: function(value,row,index){
                        var str = '' +
                            '<a href="javascript:queryUserById('+row.id+')"><img src="/jscn/easyui/themes/icons/pencil.png" /></a> | ' +
                            '<a href="javascript:removeUser('+row.id+')"><img src="/jscn/easyui/themes/icons/cancel.png" /></a>' ;
                        return str;
                    }
                }
            ]]
        });
    }

    //----------------------------------------------------条查--

    function queryCondition() {
        //加载数据  直接发送一个对象
        $('#myTable').datagrid('load', serializeFrom2Obj($("#query_form")));
    }

    //把表单转换为一个对象
    function serializeFrom2Obj(obj) {
        var o = {};
        var a = obj.serializeArray();//[{name:'price',value='12'},{},{}]
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    //属性下拉框
    var flag = null;
    //一级分类
    function queryClass1() {
        $('#class1').combobox({
            url: '/json/class_1.js',
            method: 'get',
            valueField: 'id',
            textField: 'flmch1',
            onSelect: function (item) {
                queryClass2(item.id);


            }
        });
    }
    //二级分类
    function queryClass2(id) {
        $('#class2').combobox({
            url: '/json/class_2_'+id+'.js',
            method: 'get',
            valueField: 'id',
            textField: 'flmch2',
            onSelect: function (item) {
                flag = item.id;
            }
        });
    }
</script>
</html>