<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jscn/js/jquery-2.1.1.min.js"></script>
    <!-- 引入EasyUI的样式文件-->
    <link rel="stylesheet" href="/jscn/easyui/themes/default/easyui.css" type="text/css"/>
    <!-- 引入EasyUI的图标样式文件-->
    <link rel="stylesheet"href="/jscn/easyui/themes/icon.css" type="text/css"/>
    <!-- 引入JQuery -->
    <script src="/jscn/easyui/jquery.min.js"></script>
    <!-- 引入EasyUI -->
    <script src="/jscn/easyui/jquery.easyui.min.js"></script>
    <!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
    <script src="/jscn/easyui/locale/easyui-lang-zh_CN.js"></script>
    <!-- 引入EasyUI的生成树的插件 -->
    <script src="/jscn/easyui/util-js.js"></script>
    <!-- uploadify上传文件插件 -->
    <link rel="stylesheet" href="/jscn/uploadify/uploadify.css" type="text/css">
    <script charset="utf-8" src="/jscn/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
    <div id="pgg">

        <input id="cc1" name="dept" value="请选择">
        <input id="cc2" name="dept" value="请选择"><br><br><br>
    <!-- required="required" 条件查询的工具栏-->
        <input id="nameId" class="easyui-textbox" data-options="prompt:'姓名'"><!--plain：是否显示搜索按钮的边框 -->
        <input id="bir_thdaystatu" type="text" class="easyui-datebox" data-options="prompt:'开始日期'" >-<input id="bir_thdayend" type="text" class="easyui-datebox"  data-options="prompt:'结束日期'"><br><br>
        <a href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" style="width:80px">搜索</a>
        <br><br>
        <!-- 新增 -->
        <a id="btn" href="/attr/toview?viewname=addArovider" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增属性管理</a>
        <a  href="JavaScript:delAllUser()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true,text:'批量删除'"></a>
    </div>


    <table id="myTable"></table>

</body>
<script type="text/javascript" th:inline="none">
    $(function(){
        initMyTable();
        getCombobox();
    })
    function initMyTable(){
        $('#myTable').datagrid({
            url:'/attr/queryListAttribute',
            fit:true,//适应父容器
            fitColumns:true,//自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动
            striped:true,
            loadMsg:'请稍等...',//数据加载中提示信息
            singleSelect:false,//只能选择一行
            pagination:true,//当前表格使用分页工具栏（必须有）
            pagePosition:'bottom',//分页工具显示的位置
            pageNumber:1, //number 在设置分页属性的时候初始化页码。 1
            pageSize:9, //number 每页条数
            pageList:[9,12,20,25], //选择每页条数
            toolbar:'#pgg',//数据网格（datagrid）面板的头部工具栏,作为条查使用
            columns:[[
                {field:'id',title:'id',width:'15%',align:'center'},
                {field:'shxmMch',title:'属性名',width:'15%',align:'center'},
                {field:'chjshj',title:'创建时间',width:'15%',align:'center'},
                {field:'shxmValue',title:'属性值',width:'35%',align:'center'},
                {field:'tool',title:'操作',width:50,
                    formatter: function(value,row,index){
                        var str = '' +
                            '<a href="javascript:queryUserById('+row.id+')"><img src="/jscn/easyui/themes/icons/pencil.png" /></a> | ' +
                            '<a href="javascript:removeUser('+row.id+')"><img src="/jscn/easyui/themes/icons/cancel.png" /></a>' ;
                        return str;
                    }
                }
            ]]
        });
    }

    function getCombobox(){
        $('#cc1').combobox({
            url:"/json/class_1.js",
            valueField:'id',
            method:'get',
            textField:'flmch1',
            onSelect: function(item){
                $('#cc2').combobox({
                    url:'/json/class_2_'+item.id+'.js',
                    method:'get',
                    valueField:'id',
                    textField:'flmch2',
                    onSelect: function(rec){
                        getMallAttrMsg(rec.id);
                    },setValue:function(aa){
                        id:aa.id;
                    }
                });
            }
        });
    }
</script>
</html>